/* 
    App.css includes styles pertaining to the body content of the app
*/

/* styles for the body content of the page */
body {
    /* the body has no margin */
    margin: 0px;

    /* but does have padding */
    padding: 45px;

    /* text color for the body */
    background-color: black;
}

.Container {
    margin-right: auto; 
    margin-left: auto;
}

