/* 
    Dashboard.css includes styles pertaining to the Dashboard component
*/

/* styles for the body content of the page */
body {
    /* padding for all visible content */
    padding: 45px;
    /* text color for the body */
    background-color: #1b1b1b;
}

.Container {
    /* content is automatically centered within the container */
    margin-right: auto; 
    margin-left: auto;
}
