/* 
    JournalEntry.css includes any styles specific to the JournalEntry react component
*/

/* define any common variables here for use globally in this file */
:root {
    /* common margin for elements in the journal box */
    --margin: 10px;
}

/* 
    parents all flex box containers for journal entries.
    This should be extensible in the event we wanted to add more columns of journals.
    This would involve simply defining more containers to be parented by this div
*/
.JournalContainerContainer {
    /* defined as a flex container */
    display: flex;

    /* a small gap between each vertical section */
    column-gap: 2%;
}

/* flex box containers for all journal entry components */
.JournalContainerLeft,
.JournalContainerRight {
    /* defined as a flex container */
    display: flex;
    
    /* 
        specify that they take up all available room 
        (taking into account the column-gap) and that they may not 
        grow or shrink along the flex axis)
    */
    flex-basis: 49%;
    flex-shrink: 0;
    flex-grow: 0;
    
    /* items which these boxes parent are flexed along the vertical axis */
    flex-direction: column;
    
    /* gap between journal entries */
    row-gap: 25px;
}

/* div for a singular journal entry, parented by a .JournalContainer */
.JournalBox {
    /* round the edges of a journal entry */
    border-radius: 15px;
   
    /* height of auto allows the div to grow dynamically with the length of an entry */
    height: auto;
}

/* effects for a journal box on hover */
.JournalBox:hover .Journal--Text, .JournalBox:hover .Journal--Header {
    /* [horizontal offset] [vertical offset] [blur radius] */
    text-shadow: 0.35px 0.35px 1.5px;
}

/* container for a journal title and the emotion box */
.Headerbox {
    /* defined as a flex container */
    display: flex;
    
    /* items are evenly distributed */
    justify-content: space-between;
    
    /* the title and emotion box are centered with eachother */
    align-items: center; 
    
    /* margin to match all other content within JournalBox */
    margin-left: var(--margin);
    margin-right: var(--margin);
}

/* a div which contains the mood of each journal entry */
.Emotion--Display {
    /* round the edges of a journal entry */
    border-radius: 15px;
    
    /* padding between div and contained text */
    padding: 6px;
   
    /* default background color */
    background-color: #e2e5e9;
}

/* The text parented by Emotion--Display */
.Emotion--Text {
    /* no margin between the text and the container */
    margin: 0px;
    
    /* same text font and style as the header */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* the header of each journal entry */
.Journal--Header {
    /* auto capitalize each word of the header */
    text-transform: capitalize;
    
    /* 
       first try to load the "Courier New" font, and if it's not available, 
       to fall back to the "Courier" font, and finally to any monospace font available 
    */
    font-family: 'Courier New', Courier, monospace;
    
    /* the header should be bold */
    font-weight: bold;
}

/* the body text of each journal entry */
.Journal--Text {
    /* same text font as the header */
    font-family: 'Courier New', Courier, monospace;
    
    /* the text area should be italic */
    font-style: italic;
    
    /* margin to match all other content within JournalBox */
    margin: var(--margin);
}

/* div containing text for a time of submission and a date of submission */
.TimeAndDateBox {
    /* defined as a flex container */
    display: flex;
    
    /* items are evenly distributed */
    justify-content: space-between;
   
    /* margin to match all other content within JournalBox */
    margin-left: var(--margin);
    margin-right: var(--margin);
}

/* style for the actual text of the time and date */
.TimeAndDate {
    /* same text font as the header */
    font-family: 'Courier New', Courier, monospace;
    
    /* a smaller font size for the time and date */
    font-size: 75%;
}
