.Search--Bar {
    display: flex;
    align-items: center;

    border-radius: 15px;

    background-color: black;

    padding: 8px;

    width: 350px;

    margin-right: 10px;
}

.Search--Icon {
    color: seashell;
}

.Search--Bar input {
    border: none;

    color: seashell;

    background-color: black;

    width: 100%;

    font-family: var(--font);
}

.Search--Bar input:focus {
    outline: none;
}



