services:
  backend:
    build:
      context: ./backend
      target: dev
      args:
        - RESET_DB=${RESET_DB:-true}
    ports:
      - 5000:5000
    environment:
      RESET_DB: ${RESET_DB:-true}
  frontend:
    build:
      context: ./react-app
      target: dev
    volumes:
      - ./react-app/src:/react-app/src
    ports:
      - 3000:3000
      
