[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/"
verify_ssl = true

[packages]
# Backend Requirements
flask = "==2.2.2"
importlib-metadata = "==6.0.0"
itsdangerous = "==2.1.2"
Werkzeug = "==2.2.2"
zipp = "==3.12.1"
flask-restful = "*"
flask-cors = "*"

[dev-packages]
