[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "==0.3.9"
pandas = "==1.5.3"
spacy = "==3.1.7"
en-textcat-goemotions = {file = "https://huggingface.co/explosion/en_textcat_goemotions/resolve/main/en_textcat_goemotions-any-py3-none-any.whl"}

[dev-packages]
