/* 
    NavBar.css includes any styles specific to the NavBar react component, or components parented by it 
*/

/* style all navs directly, as we will only have one */
nav {
    /* negative left and right margins to offset the padding on the body */
    margin-left: -25px;
    margin-right: -25px;
    margin-top: -25px;
    /* margin from the navbar to the start of journal entries */
    margin-bottom: 25px;
    /* property for rounded corners of navbar */
    border-radius: 25px;
    /* defines navbar as a flexbox container for all children */
    display: flex;
    /* flex items are centered along the horizontal */
    align-items: center;
    /* height of the navbar */
    height: 60px;
}

/* nav style in light mode */
.navLight {
    /* background color for light mode (slightly lighter than main page) */
    background-color: #e2e5e9;
}

/* nav style in dark mode */
.navDark {
    /* background color for dark mode (slightly lighter than main page) */
    background-color: #282D35;
}

/* styles for the sentimento logo */
.sentimento--logo {
    /* scaled to 200% of the container height. Intuitively makes no sense but looks right */
    height: 200%;
    /* margin from the left of the navbar */
    margin-left: 5px;
}
