/* Background Gradient */

body {
    background-image: url("file:///C:/Users/jenic/OneDrive - The University of Akron/Desktop/background.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}


/* Center the image container */
.center-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  /* Style for logo*/
  .center-image img {
    top: -40px; 
    width: 1045px;
    height: 578px;
    object-fit: contain;
   
  }

  /* Style for login and create account buttons */
  .center-image button {
    width: 170px;
    height: 40px;
    top: -100px; 
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 2px solid black;
  }
